.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-styles */
.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}
.dark-2 {
    color: #474747;

}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
}

.section-description {
    font-weight: regular;
    font-size: 18px;
}

.text-center {
    text-align: center;
}

/* header */
.header {
    background-image: url('../images/dev.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px; 
    /* margin: [top] [right] [bottom] [left]; */

}

.banner-content {
    max-width: 585px;
}

.banner-greet {
    font-weight: semi-bold;
    font-size: 45px;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-des{
    font-weight: regular;
    font-size: 18px;
}

.banner-image {
    width: 584px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* about styles */

.about {
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    /* margin-top: 100px; */
}

.about-items {
    display: flex;
    justify-content: space-around;
}
.item-value {
    font-weight: bold;
    color: #474747
}

/* skill set styles */

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume styles */

.resume-container {
    display: flex;
    gap: 24px;
    /* justify-content: space-evenly; */
}

.resume-col-title {
    font-weight: bold;
    font-size: 30px;
}

.experience-title {
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}

.experience-subtitle {
    font-weight: semi-bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.experience-description {
    font-weight: regular;
    font-size: 16px;
}

.resume hr{
    margin: 30px 5px;
}

.resume-download-cv {
    margin-top: 50px;
}